.navbare{

    width: 100%;
    height: 20%;

    align-items: center;

    font-size: 30px;
    font-weight: bold;
    color: var(--super-dark-orange);
    background-color: var(--Yellow);


    .logo{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    //It will only be appear in the mobile version
    .menu-icon{
        display: none;
    }

    .TheLinks{
        
        display: flex;
        justify-content: space-evenly;

        width: 100%;


        list-style: none;
        .TheLink{

            a{
                text-decoration: none;
                color: var(--super-dark-orange);
            }

            

            &:hover{
                background-color: var(--super-dark-orange);
                border-radius: 10px;
                    a{  
                        padding: 10px;
                        color: var(--Yellow);
                    }
            }
        }

        //this class will be add to an elment using js , so we can indicate wich page we are  in it
        .active{
            background-color: var(--super-dark-orange);
            border-radius: 10px;
                a{  
                    padding: 10px;
                    color: var(--Yellow);
                }
        }
        
    }


}