.InformationOfUser{
    
    align-items: center;
    width: 100%;
    height: 40%;

   

    div{
        display: flex;
        justify-content: center;

        height: fit-content;
        width: 100%;

        margin-top: 20px;
        input{
            border:4px solid var(--Yellow);
            border-radius: 5px;
            padding: 10px;
            width: 50%;
        }
       
    }
}

.messageOfResults{
    height: 10%;
    width: 100%;

    text-align: center;
    color: var(--Yellow);

    font-size: 20px;

    padding: 10px;

}

.choices{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 60%;

    color: white;
    text-align: center;

    border: 5px solid var(--Yellow);

    .FirstChoice{
        width: 45%;
        a{
            cursor: pointer;
            color: var(--Yellow);
        }

    }

    

    .TheBorder{
        height: 100%;
        width: 5%;

        .test{
            width: 20%;
            border: 4px solid var(--Yellow);

            background-color:var(--Yellow);     
            height: 100%;
        }
    }

    .SecondChoice{
        width: 45%;
        a {
            cursor: pointer;
            color: var(--Yellow);

        }
    }
}

.Message{
    height: fit-content;
    width: 90%;

    color: white;

    padding: 10px;

    background-color: var(--very-dark-orange);

    border: 4px solid var(--Yellow);
    border-radius: 10px;
    .BodyOfMessage{
        height: 80%;

        .correctAndFalseQuestion{
            height: 10%;
            color: var(--Yellow);
        }

        .CorrectionOfFalseQuestion{
                height: 90%;
                b{
                    color: var(--Yellow);
                }
        }
    }

}