// Question and options
.TheTest{
    display: flex;
    justify-content: space-evenly;
    
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%; // Only 90% bc the navbar already have 10%

    color: var(--super-dark-orange);
    color: white;

    .TheQuestion{
        color: var(--Yellow);

        margin: 10px;
        border: 2px solid var(--Yellow);
        border-radius: 10px;

        padding: 10px;
        background-color: var(--very-dark-orange);

    }

    .TheOpstions{

        
       

        .TheOpstion{
            cursor: pointer;
            
            margin:10px;
            border: 2px solid var(--Yellow);
            border-radius: 10px;
    
            padding: 10px;
            background-color: var(--very-dark-orange);
        }

    }

}

.downStuff{
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    .HolderOfTestTimer{
        width: 45%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        .TestTimer{
            height: 100%;
            color: var(--Yellow);
            font-size: 50px;
        }
    }

    //Next Button is here
    


}