/* Those are the only color
that will be used in the website*/
:root {
  --Yellow:#ffc400;
  --orange:#ff5627;
  --dark-orange:#ca0035;
  --very-dark-orange:#93063e;
  --super-dark-orange:#5b1647;
}

.navbare {
  width: 100%;
  height: 20%;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--super-dark-orange);
  background-color: var(--Yellow);
}
.navbare .logo {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.navbare .menu-icon {
  display: none;
}
.navbare .TheLinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}
.navbare .TheLinks .TheLink a {
  text-decoration: none;
  color: var(--super-dark-orange);
}
.navbare .TheLinks .TheLink:hover {
  background-color: var(--super-dark-orange);
  border-radius: 10px;
}
.navbare .TheLinks .TheLink:hover a {
  padding: 10px;
  color: var(--Yellow);
}

.bodyOfTest {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: var(--super-dark-orange);
}

.bodyOfHome {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: var(--super-dark-orange);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bg-home3.png");
}

.holderOfHomeTimer {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 65%;
  background-color: var(--Yellow);
  -webkit-clip-path: circle(21%);
          clip-path: circle(21%);
}
.holderOfHomeTimer .onlycss {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--super-dark-orange);
  -webkit-clip-path: circle(19%);
          clip-path: circle(19%);
}
.holderOfHomeTimer .onlycss .HomeTimer {
  color: var(--Yellow);
  font-size: 100px;
  width: 100%;
}

.TheTest {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  color: var(--super-dark-orange);
  color: white;
}
.TheTest .TheQuestion {
  color: var(--Yellow);
  margin: 10px;
  border: 2px solid var(--Yellow);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--very-dark-orange);
}
.TheTest .TheOpstions .TheOpstion {
  margin: 10px;
  border: 2px solid var(--Yellow);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--very-dark-orange);
}

.downStuff {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.downStuff .HolderOfTestTimer {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.downStuff .HolderOfTestTimer .TestTimer {
  height: 100%;
  color: var(--Yellow);
  font-size: 50px;
}

.holderOfStartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.holderOfStartBtn .StartBtn {
  font-size: 20px;
  color: var(--Yellow);
  background-color: var(--super-dark-orange);
  border: 3px solid var(--Yellow);
  border-radius: 10px;
  margin-top: 50vh;
  height: 40px;
  width: 400px;
  cursor: pointer;
}

.HolderOfNextBtn {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.HolderOfNextBtn .NextBtn {
  cursor: pointer;
  border: 3px solid var(--very-dark-orange);
  border-radius: 5px;
  font-size: 30px;
  padding: 5px;
  color: var(--super-dark-orange);
  font-weight: bold;
  background-color: var(--Yellow);
}

@media (min-width: 850px) {
  .navbare {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 11%;
  }
  .navbare .logo {
    width: 40%;
    text-align: start;
  }
  .navbare .TheLinks {
    margin-right: 0px;
    width: 45%;
    justify-content: space-between;
  }
}
@media (max-width: 850px) {
  .TheTest {
    display: block;
    justify-content: space-between;
  }
  .TheTest .TheQuestion {
    margin-top: 10%;
  }
  .TheTest .TheOpstions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .TheTest .TheOpstions .TheOpstion {
    width: 45%;
  }
}
@media (max-width: 400px) {
  .TheTest .TheOpstions .TheOpstion {
    width: 100%;
  }
  .navbare {
    position: relative;
    z-index: 9;
    height: 12%;
    text-align: center;
  }
  .navbare .logo {
    display: none;
  }
  .navbare .menu-icon {
    text-align: center;
    display: block;
  }
  .navbare .TheLinks {
    display: block;
    text-align: center;
    position: relative;
    z-index: 9;
    background-color: var(--super-dark-orange);
    color: var(--Yellow);
    align-items: center;
    height: 110vh;
    transition: opacity 0.8s 0.8s, -webkit-clip-path 1s 0.4s;
    transition: opacity 0.8s 0.8s, clip-path 1s 0.4s;
    transition: opacity 0.8s 0.8s, clip-path 1s 0.4s, -webkit-clip-path 1s 0.4s;
    opacity: 0;
    background: var(--super-dark-orange);
    -webkit-clip-path: circle(200px at top left);
            clip-path: circle(200px at top left);
  }
  .navbare .TheLinks .TheLink {
    padding-top: 60px;
  }
  .navbare .TheLinks .TheLink a {
    color: var(--Yellow);
  }
  .navbare .menu-btn:checked ~ .TheLinks {
    transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s, -webkit-clip-path 1s 0.5s;
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}/*# sourceMappingURL=main.css.map */