//Import the colors
@use './colors';

//Import the navbare
@use './navbare';

//Import the backgrounds
@use './backgrounds';

//Import the style of home page
@use './home';

//Import the style Of The Test [Question and options]
@use './theTest';

//Import the style of the help
@use './help';

//Import the style of results page
@use './results';

//Import all buttons that has been used in the site
@use './buttons';

//Import the Media
@use './media';

*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

/* https://stackoverflow.com/questions/9664325/style-the-scrollbar-with-css-in-google-chrome-webkit */
::-webkit-scrollbar {
  width: 10px;
  background: var(--Yellow)     ;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--very-dark-orange)      ;
  
}




